---
const platform = "github";
const username = "abhishek-baliyan-dev";
const email = "abhishek.baliyan.dev@gmail.com"
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>You can contact me on my email {email}</p>
</footer>